@model WebAppHIDRONAMIC.Entities.ConstanciaDTO

<script>
    var mensaje = '@ViewBag.mensaje';
    if (mensaje != "") {
        alert(mensaje);
    }
</script>

<!-- VENTANA EMERGENTE PARA BUSCAR CLIENTES-->
<div id="ventanaClientes" class="modal fade" role="dialog" style="display:none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Listado de Clientes</h3>
            </div>
            <div class="modal-body">
                <div id="modal-clientes">
                    Espere porfavor...
                </div>
            </div>
        </div>
    </div>
</div>

<!-- VENTANA EMERGENTE PARA RECOMENDACIÓN DE QUÍMICOS-->
<div id="ventanaQuimicos" class="modal fade" role="dialog" style="display:none">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a class="close" data-dismiss="modal">&times;</a>
                <h3>Recomendación de Químicos</h3>
            </div>
            <div class="modal-body">
                <div id="modal-quimicos">
                    Espere porfavor...
                </div>
            </div>
        </div>
    </div>
</div>

<form action="/Constancia/Registrar" method="post" onsubmit="return validar()">
    @Html.AntiForgeryToken()
    <!-- PANEL DE DATOS DEL CLIENTE-->
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Datos del Cliente</h4>
            </div>
            <div class="panel-body">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label>Cliente:</label>
                    <div class="input-group">
                        @Html.EditorFor(model => model.CUENTA_COMERCIAL, new { htmlAttributes = new { @type = "hidden" } })
                        <input type="text" class="form-control" readonly="readonly" placeholder="Seleccione Cliente" id="RAZON" name="RAZON" />
                        <span class="input-group-btn">
                            <a id="btnBuscarCliente" class="btn btn-default" data-toggle="modal" href="#ventanaClientes">
                                <i class="fa fa-search"></i>
                            </a>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label>Dirección:</label>
                    <fieldset disabled>
                        <input type="text" class="form-control" readonly="readonly" placeholder="Dirección de Cliente" id="DOMICILIO" name="DOMICILIO" />
                    </fieldset>
                </div>

                <div class="form-group">
                    <label>Fecha:</label>
                    <fieldset disabled>
                        <input type="text" id="fecha" class="form-control" placeholder="Fecha Actual">
                    </fieldset>
                </div>
                <div class="form-group" id="PISCINA_INFO" style="display:none;">
                    <a href="#ventanaQuimicos" id="btnQuimicos" data-toggle="modal">
                        <input type="button" class="btn btn-info" value="INFORMACIÓN PISCINA" >
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- PANEL DE INFORMACIÓN GENERAL DEL REPORTE-->
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Información General de Reporte</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Procesos:</label>
                    <div class="checkbox">
                        <label>
                            <input id="PISC" name="PISC" type="checkbox" value="11" class="chkCondicion"> Piscinas, Piletas, Espejos de agua.
                            @Html.EditorFor(model => model.INDICA_PISC, new { htmlAttributes = new { @type = "hidden" } })
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input id="SAUN" name="SAUN" type="checkbox" value="12" class="chkCondicion"> Hidromasajes y Saunas.
                            @Html.EditorFor(model => model.INDICA_SAUN, new { htmlAttributes = new { @type = "hidden" } })
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input id="PRES" name="PRES" type="checkbox" value="13" class="chkCondicion"> Hidroneumáticos, Presión constantes, etc.
                            @Html.EditorFor(model => model.INDICA_PRES, new { htmlAttributes = new { @type = "hidden" } })
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input id="INCE" name="INCE" type="checkbox" value="14" class="chkCondicion"> Sistemas contra incendio, Tratamientos, etc.
                            @Html.EditorFor(model => model.INDICA_INCE, new { htmlAttributes = new { @type = "hidden" } })
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- PANEL DE DESCRIPCIÓN DEL PROCESO-->
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Descripción del Proceso</h4>
            </div>
            <div class="panel-body">

                <div class="form-group">
                    <label>¿Presenta condición química?</label>
                    <div class="form-group">
                        <label class="radio-inline">
                            <input id="SI_CONDICION" name="CONDICION" type="radio" checked="checked" onclick="condicion(0);"> Si
                            @Html.EditorFor(model => model.INDICA_CONDICION, new { htmlAttributes = new { @type = "hidden" } })
                        </label>
                        <label class="radio-inline">
                            <input id="NO_CONDICION" name="CONDICION" type="radio" onclick="condicion(1);"> No
                        </label>
                    </div>
                </div>

                <!--FORMULARIO OPCIONAL DE PARÁMETROS-->
                <div class="form-group" id="condiciones">
                    <label>Limpieza de Piscina</label>
                    <div class="form-group">
                        <label class="form-inline">
                            PH.
                            <input type="text" class="form-control" name="NIVEL_PH" id="NIVEL_PH">
                        </label>
                        <label class="form-inline">
                            CLORO
                            <input type="text" class="form-control" name="NIVEL_CLORO" id="NIVEL_CLORO">
                        </label>
                    </div>
                </div>

                <!--INGRESAR DETALLES DEL SERVICIO-->
                <div class="form-group">
                    <label>Seleccione Servicio:</label>
                    @Html.DropDownList("ID", (SelectList)ViewBag.serviciosS, new { @class = "form-control ddlServicios" })

                    <label class="form-inline" style="width:70px;">
                        <label style="width:70px;">Cantidad</label>
                    </label>
                    <label class="form-inline" style="width:70px;">
                        <input type="number" class="form-control iptNumbers" style="width:70px;margin-top:5px;" id="cantS" />
                    </label>
                    &ensp;
                    <label class="form-inline" style="width:70px;">
                        <button type="button" class="btn btn-primary btn-sm" style="width:70px;margin-top:1px;" onclick='GabDetallesS()'>Agregar</button>
                    </label>
                </div>

                <!--INGRESAR DETALLES DEL PRODUCTO-->
                <div class="form-group">
                    <label>Seleccione Producto:</label>
                    @Html.DropDownList("ID", (SelectList)ViewBag.serviciosP, new { @class = "form-control ddlProductos" })

                    <label class="form-inline" style="width:70px;">
                        <label style="width:70px;">Cantidad</label>
                    </label>
                    <label class="form-inline" style="width:70px;">
                        <input type="number" class="form-control iptNumbers" style="width:70px;margin-top:5px;" id="cantP" />
                    </label>
                    &ensp;
                    <label class="form-inline" style="width:70px;">
                        <button type="button" class="btn btn-primary btn-sm" style="width:70px;margin-top:1px;" onclick='GabDetallesP()'>Agregar</button>
                    </label>
                </div>

                <!--LISTA DE DETALLES DE CONSTANCIA-->
                <div class="table-responsive table-bordered">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Descripción</th>
                                <th>Cantidad</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="detalles"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- PANEL DE OBSERVACIONES-->
    <div class="col-lg-12">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h4>Observaciones</h4>
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label>Comentario Adicional:</label>
                    @Html.TextAreaFor(model => model.COMENTARIO, new { @class = "form-control", @rows = "3" })
                </div>
            </div>
        </div>
    </div>

    <!-- ¿ESTUVO EL CLIENTE AL MOMENTO DEL SERVICIO?-->
    <div class="form-group" style="padding-left:12px;">
        <label>¿Estuvo cliente?</label>
        <label class="radio-inline">
            <input id="SI_INDICA" name="INDICA" type="radio" class="rbtnCliente" checked="checked"> Si
            @Html.EditorFor(model => model.INDICA_CLIENTE, new { htmlAttributes = new { @type = "hidden" } })
        </label>
        <label class="radio-inline">
            <input id="NO_INDICA" name="INDICA" type="radio" class="rbtnCliente"> No
        </label>
    </div>
    <br />
    <div align="center" class="form-group">
        <input type="submit" value="REGISTRAR" class="btn btn-primary" />
    </div>
</form>

<script src="~/Scripts/MyScript.js?1"></script>
